SistemaDeVentas_Login/nbproject
/SistemaDeVentas_Login/nbproject
nbproject/private/
nbproject/nbproject.xml
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
SistemaDeVentas_Login/build/
build/