# Ignorar la carpeta de compilación de NetBeans
/build/
/SistemaDeVentas_Login/build/

# Ignorar configuraciones privadas de NetBeans
/nbproject/private/
/SistemaDeVentas_Login/nbproject/private/

# Ignorar la carpeta de distribución (si existe)
/dist/
/SistemaDeVentas_Login/dist/

# Ignorar archivos generados por el compilador
*.class

# Ignorar archivos temporales y logs
*.log
*.tmp

# Ignorar el archivo MANIFEST si no es necesario versionarlo
manifest.mf